<!-- 画面サイズによって表示を流動的に-->
<div class="container-fluid">
  <div class="row">
    <!-- 画面がmidium以上の場合グリッド６個持つカラムを
    　　　スペースを３グリッド分保持-->
    <div class="col-md-6 col-md-offset-3">
      <!-- パーシャル画面の、form呼び出し-->
      <%= render 'form' %>
    </div>
  </div>
</div>
